@font-face {
  font-family: "Sohne Mono";
  src: url("/assets/fonts/sohne/test-soehne-mono-buch.woff2") format("woff2");
}
@font-face {
  font-family: "United Sans";
  src: url("/assets/fonts/sohne/test-untitled-sans-medium.woff2") format("woff2");
}
@font-face {
  font-family: "Maison Neue Extended";
  src: url("/assets/fonts/maisonneueextended/MaisonNeueExtended-Book.otf") format("otf");
  font-weight: 300;
}
@font-face {
  font-family: "Maison Neue Extended";
  src: url("/assets/fonts/maisonneueextended/MaisonNeueExtended-BookItalic.otf") format("otf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Maison Neue Extended";
  src: url("/assets/fonts/maisonneueextended/MaisonNeueExtended-ExtraThin.otf") format("otf");
  font-weight: 100;
}
@font-face {
  font-family: "Maison Neue Extended";
  src: url("/assets/fonts/maisonneueextended/MaisonNeueExtended-ExtraThinItalic.otf") format("otf");
  font-weight: 100;
  font-style: italic;
}
:root {
  --stickytop: 0px;
  --boxtop: 3rem;
  --bodytxtsize: 0.7rem;
  --beneath-masthead: 85vh;
  --masthead-height:15vh;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Maison Neue Extended", arial, helvetica, sans-serif;
  font-size: var(--bodytxtsize);
}

.masthead-container {
  width: 100%;
  position: sticky;
  padding: 0 1rem;
  top: var(--stickytop);
  z-index: 3;
}
.masthead-container.inner {
  position: absolute;
  top: 0;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 0.75rem 0;
}

.nav-top {
  height: 2rem;
}

.nav-bar div:nth-child(2) {
  grid-column: 7/9;
}

.nav-top,
.nav-bar {
  height: fit-content;
}
.nav-top > div,
.nav-bar > div {
  grid-column: span 2;
}
.nav-top > div p,
.nav-bar > div p {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 100;
}
.nav-top .nav-logo,
.nav-bar .nav-logo {
  grid-column: 11/13;
  position: relative;
  width: 100%;
  height: 100%;
}
.interactive-cover {
  position: absolute;
  width: 100vw;
  top: 0;
  height: 100vh;
  z-index: 2;
}
.interactive-cover canvas {
  height: 100%;
  width: 100%;
}
.interactive-cover .slider {
  position: absolute;
  bottom: 5vh;
}

.interactive-cover-images {
  position: absolute;
  z-index: 1;
  top: 0;
  height: 100%;
  width: 100%;
}
.interactive-cover-images img {
  display: none;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.interactive-cover-images .on {
  display: block;
}

.thumbnail {
  position: absolute;
}

.footer {
  height: 30vh;
}
.footer .grid {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -1;
  padding: 1rem;
}

.footer-logo {
  grid-column: 1/13;
}

.footer-links.link {
  grid-column: span 2;
}

.menu-precontainer {
  position: absolute;
  width: 100%;
  opacity: 0;
}
.menu-precontainer .inner {
  grid-column: 1/3;
}

.menu-main {
  height: var(--beneath-masthead);
  background-color: white;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
  clip-path: inset(0px 0px -20px 0px);
  position: sticky;
  top: var(--masthead-height);
  padding: 0 1rem;
}
.menu-main .menu-section {
  grid-column: span 2;
  height: 100%;
}
.menu-main .menu-section a {
  color: black;
  text-decoration: none;
}
.menu-main .menu-section .product {
  position: relative;
  margin-bottom: 0;
}
.menu-main .menu-section .product-hed {
  display: flex;
  justify-content: space-between;
}
.menu-main .menu-section .product-title {
  text-decoration: none;
}
.menu-main .menu-section .product-summary {
  text-transform: uppercase;
}
.menu-main .menu-section .product-summary ol {
  margin: 0;
  padding: 0 1rem;
}
.menu-main .menu-section .product-summary li {
  font-weight: 100;
}
.menu-main .menu-section .history {
  font-weight: 100;
  text-transform: uppercase;
}

#original .thumbnail {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 200px;
}
#original .thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 100ms opacity;
}
#original .thumbnail img.on {
  opacity: 1;
}

#clone {
  margin-top: calc(-1 * var(--beneath-masthead));
  z-index: 1;
  pointer-events: none;
  background-color: unset;
}
#clone .history {
  opacity: 0;
}
#clone .product {
  opacity: 0;
}
#clone .product .product-summary {
  opacity: 0;
}

.all-products {
  z-index: 0;
  position: relative;
  padding-bottom: 100vh;
  margin-top: 200vh;
}
.all-products.grid {
  --gutter: 0;
}
.all-products .product-image {
  grid-column: span 6;
  height: 100vh;
}
.all-products .product-image figure {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
.all-products .product-image figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.grid {
  --columns: 12;
  --gutter: 1rem;
  display: grid;
  grid-gap: var(--gutter);
  grid-template-columns: repeat(12, 1fr);
}
.grid .column {
  margin-bottom: var(--gutter);
}

.cover {
  position: absolute;
  top: 100vh;
  height: calc(100% - 100vh);
  width: 100%;
}

.img-sequence {
  margin-top: calc(-1 * var(--masthead-height));
  width: 100%;
  position: relative;
}
.img-sequence .img-sequence-container .container-inner {
  position: sticky;
  top: 0;
}
.img-sequence .img-sequence-container:after {
  content: "";
  display: block;
  height: 100vh;
}

.topperimg {
  width: 100%;
  margin: 0;
}
.topperimg img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.topperimg.active {
  display: block;
}

.detail-text {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 15%;
  margin-right: 1rem;
  margin-left: auto;
  background-color: white;
  font-size: var(--bodytxtsize);
  padding: 1rem;
  z-index: 2;
}
.detail-text button {
  background: #EFEFEF;
  box-shadow: 0px 0px 0.5px 1px rgba(0, 0, 0, 0.2), 1px 1px 8px rgba(0, 0, 0, 0.15), inset 3px 3px 4px rgba(255, 255, 255, 0.63), inset -6px -9px 3px rgba(0, 0, 0, 0.09);
  border-radius: 5px;
  width: 100%;
  height: 4rem;
  display: flex;
  font-size: 1rem;
  padding: 0.5rem;
  text-transform: uppercase;
  font-weight: 100;
}
.detail-text h2 {
  font-size: var(--bodytxtsize);
  font-weight: 100;
  margin: 0;
  padding-bottom: 1rem;
}
.detail-text p {
  font-size: var(--bodytxtsize);
  margin: 0;
  padding-bottom: 1rem;
  font-weight: 100;
  text-transform: uppercase;
}
.detail-text p::after {
  content: "";
  border-bottom: solid 1px black;
  width: 100%;
  display: block;
  margin-top: 1rem;
}

.first {
  margin-top: -100vh;
  position: sticky;
  top: var(--stickytop); /* CAN MAKE THIS A VARIABLE*/
  z-index: -2;
}

/*# sourceMappingURL=vo-index.css.map */
