.nav-scroll,
.nav-about,
.nav-zine {
  display: none;
}
.main {
  margin-bottom: 0;
}
.footer {
  background-image: none !important;
}
.detail-text {
  @media (max-width: 800px) {
    grid-column: 1/5;
    position: relative;
    top: unset;
    height: calc(100vh - 1rem);
  }
  box-shadow: 0px 2px 6px 0px rgb(0 0 0 / 10%);
  position: sticky;
  top: 0;
  height: 100vh;
  background-color: white;
  font-size: var(--bodytxtsize);
  padding: 1rem;
  z-index: 3;
  grid-column: 11/13;
  .add-to-cart {
    margin-bottom: 1rem;
  }
  .size-classes {
    display: flex;
    justify-content: space-between;
    padding: 0 1px 1rem 1px;
    button {
      height: 3rem;
    }
    .size-radio {
      position: relative;
      width: 17%;
      height: 1.7rem;
      input {
        height: 100%;
      }
      p {
        position: absolute;
        top: 0.2rem;
        left: 0.4rem;
        border: unset;
        pointer-events: none;
        padding: 0;
        font-weight: 200;
        font-size: 10px;
      }
    }
  }

  .product-hed {
    display: flex;
    justify-content: space-between;
    // padding-bottom: 1rem;
    h3,
    h4 {
      font-size: var(--bodytxtsize);
      font-weight: 300;
    }
  }

  h2 {
    font-size: var(--bodytxtsize);
    // font-weight: bold;
    font-weight: 200;
    margin: 0;
    padding-bottom: 1rem;
  }
  & > p {
    font-size: var(--bodytxtsize);
    margin: 0;
    padding-bottom: 0.5rem;
    font-weight: 200;
    text-transform: uppercase;
    position: relative;
    &::after {
      content: "";
      border-bottom: solid 1px black;
      width: 100%;
      display: block;
      margin-top: 0.5rem;
      border-top: 2px solid transparent;
      border-bottom: 2px solid transparent;
      border-left: 3px solid black;
      border-right: 3px solid black;
      opacity: 0.8;
    }

    &::before {
      content: "";
      display: block;
      border: 0.5px solid black;
      position: absolute;
      bottom: 9.5px;
      width: 100%;
      opacity: 0.5;
    }
  }
  ol {
    padding: 0.25rem 1rem 0.25rem 1rem;
    margin: 0;
    li {
      line-height: 1.5;
      font-weight: 200;
      text-transform: uppercase;
    }
  }
  input[name="quantity"] {
    display: none;
  }
  input[type="radio"] {
    appearance: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    background: #efefef;
    box-shadow: 0.5px 0.5px 1.5px 0.2px rgb(0 0 0 / 40%),
      1px 1px 5px rgb(0 0 0 / 10%), 1px 1px 8px rgb(0 0 0 / 5%),
      inset 1px 1px 4px rgb(255 255 255 / 63%),
      inset -2px -2px 1px rgb(0 0 0 / 15%), inset 1px 0px 0px rgb(0 0 0 / 15%);
    border-radius: 2px;
    width: 100%;
    height: 4rem;
    border-color: buttonborder;
    display: flex;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 200;
    // border: 1px solid grey;
  }
  input[type="radio"]:checked {
    appearance: none;
    margin: 0;
    padding: 0;
    background: #e7e7e7;
    box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 0%),
      inset -0.5px -0.5px 0.8px rgb(155 155 155 / 50%),
      inset 3px 3px 2px 0px rgb(128 128 128 / 20%),
      inset -2px -2px 2px 0px rgb(255 255 255 / 50%),
      inset 1px 2px 1px 0px rgb(255 255 255 / 50%);
  }
  input[type="radio"]:checked + p {
    top: 0.4rem;
    left: 0.5rem;
    color: blue;
  }

  .illustration {
    position: absolute;
    bottom: 1rem;
    width: calc(100% - 2rem);
    img {
      @media (max-width: 800px) {
        width: 50%;
        max-width: 150px;
        margin: auto;
      }
    }
  }
}

.cover {
  @media (max-width: 800px) {
    height: unset;
  }
  position: absolute;
  top: 80vh;
  // border: solid red;
  height: calc(100% - 80vh);
  width: 100%;
  padding: 0 1rem;
}
.img-sequence {
  @media (max-width: 800px) {
    height: unset;
  }
  margin-top: calc(-1 * var(--masthead-height));
  width: 100%;
  position: relative;
  height: 100%;
  .video {
    margin-bottom: -1px;
    video {
      @media (max-width: 800px) {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
      width: 100%;
    }
  }
  .img-sequence-container {
    @media (max-width: 800px) {
      position: sticky;
    }
    position: relative;
    .container-inner {
      @media (max-width: 800px) {
        position: relative;
      }
      position: sticky;
      top: 0;

    }
    &:after {
      @media (max-width: 800px) {
        display: none;
      }
      content: "";
      display: block;
      height: 100vh;
    }

  }
}

.topperimg {
  @media (max-width: 800px) {
    height: 100vh;
  }
  height: auto;
  width: 100%;
  margin: 0;
  figure {
    @media (max-width: 800px) {
      height: 100vh;
    }
    li {
      @media (max-width: 800px) {
        height: 100vh;
      }
    }
    height: auto;
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &.active {
    display: block;
  }
  ul {
    @media (max-width: 800px) {
      display: block;
    }
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    li {
      width: 100%;
    }
  }
}

.related-container {
  display: flex;
  height: 100vh;
  div {
    width: 100%;
  }
  img {
    object-fit: cover;
    height: 100%;
  }
}


.mobile-scroll-down {
  @media (max-width: 800px) {
    position: absolute;
    height: calc(100vh - 1rem);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
  }
  display: none;
  // border: solid green;
  p {
    font-weight: 200;
    text-transform: uppercase;
    text-decoration: underline;
  }
}

