.footer {
  @media (max-width: 800px) {
    height: auto;
    padding: 2rem 1rem;
  }
  background-position: center;
  background-size: cover;
  height: fit-content;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  .grid {
    // padding: 1rem;
  }
  .footer-logo {
    grid-column: 1/13;
  }
  .footer-logo {
    @media (max-width: 800px) {
      grid-column: 1/5;
    }
    grid-column: 1/13;
  }
  .link {
    @media (max-width: 800px) {
      display: none;
    }
    display: block;
    grid-column: span 2;
    font-size: var(--bodytxtsize);
    font-weight: 200;
    text-transform: uppercase;
    padding-top: 0.5rem;
    align-self: end;
  }
}

a {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
}

//MAILCHIMP
#mc_embed_signup {
  grid-column: -1 / -4;
  @media (max-width: 800px) {
    display: none;
  }
  display: block;
}
#mc_embed_signup_scroll {
  @media (max-width: 800px) {
    display: block;
  }
  display: flex;
  justify-content: space-between;
  .optionalParent {
    @media (max-width: 800px) {
      width: unset;
    }
    width: 150px;
    .button {
      @media (max-width: 800px) {
        height: 3.5rem;
      }
      height: 2.5rem;
    }
  }
  .mc-field-group {
    width: 100%;
    align-self: end;
  }
  .required.email {
    width: 100%;
  }
  h2,
  * {
    @media (max-width: 800px) {
     font-size: 1rem;
    }
    font-size: var(--bodytxtsize);
    font-weight: 200;
    text-transform: uppercase;
  }
  h2,
  .mc-field-group {
    @media (max-width: 800px) {
     margin-bottom: 1rem;
    }
    padding-right: 4px;
    padding-top: 0.5rem;

  }
  .brandingLogo {
    display: none;
  }
  .required.email {
    border: none;
    border-bottom: 1px solid;
    padding: 0;
    background-color: transparent;
  }
}
