//DESKTOP STYLES

.masthead-container {
  box-shadow: unset;
  width: 100%;
  position: sticky;
  padding: 0 1rem;
  top: var(--stickytop);
  // height: var(--masthead-height);
  z-index: 3;
  &.inner {
    position: absolute;
    top: 0;
  }
}
.header {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 0.75rem 0;
}

.nav-top {
  // display: flex;
  height: 2rem;
  height: fit-content;
  @media (max-width: 800px) {
    display: none;
  }
  & > div {
    grid-column: span 2;
    a {
      text-decoration: none;
      color: black;
    }
    p {
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 200;
    }
  }
  .nav-logo {
    grid-column: 11/13;
    // padding: 0 1rem;
    position: relative;
    width: 100%;
    height: 100%;
    img {
      // position: absolute;
    }
  }
  .nav-scroll {

    transition: opacity 300ms;
  }
}

//MOBILE
.mobile {
  @media (min-width: 800px) {
    display: none;
  }
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  transform: translateY(calc(-94vh + 2rem));
  transition: transform 500ms, background-color 300ms;
  &.active {
    background-color: white !important;
  }
  .mobile-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 1rem;
   .mobile-menu div {
      margin-bottom: 0.5rem;
    }
  }
  .mobile-nav-bar {
    display: flex;
    height: 6vh;
    align-items: center;
    .mobile-logo {
      width: 100%;
      img {
        object-fit: contain;
        height: 100%;
        margin: auto;
      }
    }
    .mobile-hamburger {
      width: 100%;
      text-align: right;
      p {
        font-size: 1.8rem;
       font-weight: 100;
      }
    }
    .mobile-cart {
      width: 100%;
      span img {
        width: 20px;
        display: inline-block;
        transform: translate(0px, 5px);
      }
    }
  }
  p {
    font-weight: 200;
    text-transform: uppercase;
    font-size: 1rem;
  }
}
