body {
  background-color: black;
}

.nav-scroll {
  display: none;
}

.masthead-container {
  // background-color: black;
  p,
  .back {
    color: white;
  }
  img {
    filter: invert(1);
  }
  .active {
    .mobile-nav-bar {
      p {
        color: black;
      }
      img {
        filter: invert(0);
      }
    }
  }
  .mobile-menu {
    p {
      color: black;
    }
  }
}
.zine {
  @media (max-width: 800px) {
    margin-top: 2rem;
  }
  padding: 1rem;
  background-color: black;
  box-shadow: 0px 2px 6px 0px rgb(0 0 0 / 10%);
  position: relative;
}
.zine-image {
  grid-column: 1/13;
  width: 100%;
}
